.hero {
    width: 100%;
    position: relative;
}
.heroBelt{
    width:100%;
    height: auto;
    position: relative;
}
.canvasContainer {
    width: 100dvw;
    height: 100dvh;
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: black;
}