.preLoaderContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    /* Centralização e alinhamento vertical */
    display: flex;
    flex-direction: column; /* Garante que o texto fique abaixo da logo */
    justify-content: center;
    align-items: center;
    gap: 20px; /* Cria um espaço maneiro entre a logo e o texto */
    z-index: 2;
}
.preLoaderContent {
    display: flex;
    flex-direction: column; /* Garante que o texto fique abaixo da logo */
    justify-content: center;
    align-items: center;
    gap: 20px; /* Cria um espaço maneiro entre a logo e o texto */
}
.logoLoader {
    width: 100%;  /* 100vw é o tamanho da tela inteira, use algo menor para a logo */
    height: auto; 
    z-index: 3;
}

.textLoader {
    font-family: 'MedievalSharp', sans-serif;
    font-size: 2.5rem;
    color: #ffffff;
    margin: 0;
}