.root {
  --color-cream: #F0E3CF;
  --color-slate: #58595B;
  --color-orange: #FA9A00;
  --color-amber: #F7AC34;
  --color-red: #DB2C00;
  --color-purple: #8300AE;
  --color-blue: #009AC4;
  --color-wine: #620100;
  --color-gold: #CA9401;
  --color-white: #FFFFFF;
  --strong-font-weight: bold; 

  --font-card-title: 'Cinzel', serif;
  --font-body: 'Merriweather', Georgia, serif;
  --font-body-alt: 'ABeeZee', sans-serif;
  color: var(--color-slate);
  isolation: isolate;
}

.pinSection {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bgWrapper {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.imgPlaceholder {
  position: absolute;
  inset: 0;
  z-index: 0;
  background-image: url(../../assets/imgs/imgTranS2.avif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  aspect-ratio: inherit;
}
.avaliacoesCard {
  width: 50vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;       /* Mantém acima do background pattern */
}
/* Esteira Principal que Desliza */
.track {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  height: 100vh;
  width: max-content;
  will-change: transform;
  flex-wrap: nowrap;
}
.finalTrack{
    height: 100vh;
    width: 50vw;
}
/* Lona contínua pastel para os Cards Medievais */
.cardsWrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 0 8vw;
  gap: 16vw;
  background-color: var(--color-cream);
  box-shadow: -10px 0 30px rgba(0, 0, 0, 0.15);
}

.cardsWrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('../../assets/pattern/patternCompress.webp');
  background-repeat: repeat;
  background-size: 400px 400px;
  mix-blend-mode: multiply;
  opacity: 0.2;
  pointer-events: none;
  z-index: 1;
}

@media (max-width: 900px) {
  .cardsWrapper {
    gap: 26vw;
    padding: 0 5vw;
  }
  .avaliacoesCard{
    width: 80vw;
    height: auto;
  }
}

@media (prefers-reduced-motion: reduce) {
  .track {
    transition: none !important;
  }
}